<script>
import { GlModal, GlTableLite, GlButton } from '@gitlab/ui';
import { uniqueId } from 'lodash';
import { s__, __, sprintf } from '~/locale';
import { NO_EXCEPTION_KEY } from 'ee/security_orchestration/components/policy_editor/constants';
import { DENIED } from './scan_filters/constants';
import DenyAllowLicenses from './deny_allow_licenses.vue';
import DenyAllowListExceptions from './deny_allow_list_exceptions.vue';

const createLicenseObject = () => ({
  license: undefined,
  exceptions: [],
  exceptionsType: NO_EXCEPTION_KEY,
  id: uniqueId('license_'),
});

export default {
  ACTION_CANCEL: { text: __('Cancel') },
  i18n: {
    denyListTitle: s__('ScanResultPolicy|Edit denylist'),
    allowListTitle: s__('ScanResultPolicy|Edit allowlist'),
    denyListButton: s__('ScanResultPolicy|Save denylist'),
    allowListButton: s__('ScanResultPolicy|Save allowlist'),
    listDescription: s__('ScanResultPolicy|The product %{verb} use the selected licenses'),
    denyTableHeader: s__('ScanResultPolicy|Denied license'),
    allowTableHeader: s__('ScanResultPolicy|Allowed license'),
    denySecondTableHeader: s__('ScanResultPolicy|Deny except on'),
    allowSecondTableHeader: s__('ScanResultPolicy|Allow except on'),
    addLicenseButton: s__('ScanResultPolicy|Add new license'),
  },
  name: 'DenyAllowListModal',
  components: {
    DenyAllowLicenses,
    DenyAllowListExceptions,
    GlButton,
    GlModal,
    GlTableLite,
  },
  props: {
    listType: {
      type: String,
      required: false,
      default: DENIED,
    },
  },
  data() {
    return {
      items: [createLicenseObject()],
      selectedExceptionType: NO_EXCEPTION_KEY,
    };
  },
  computed: {
    isDeniedList() {
      return this.listType === DENIED;
    },
    modalTitle() {
      return this.isDeniedList
        ? this.$options.i18n.denyListTitle
        : this.$options.i18n.allowListTitle;
    },
    primaryAction() {
      return {
        text: this.isDeniedList
          ? this.$options.i18n.denyListButton
          : this.$options.i18n.allowListButton,
        attributes: {
          variant: 'confirm',
        },
      };
    },
    modalDescription() {
      return sprintf(this.$options.i18n.listDescription, {
        verb: this.isDeniedList ? __('cannot') : __('can'),
      });
    },
    tableFields() {
      return [
        {
          key: 'licenses',
          label: this.isDeniedList
            ? this.$options.i18n.denyTableHeader
            : this.$options.i18n.allowTableHeader,
          thAttr: { 'data-testid': 'list-type-th' },
          thClass: '!gl-pl-0',
          tdClass: '!gl-pl-0 !gl-border-none !gl-align-middle',
        },
        {
          key: 'exceptions',
          label: this.isDeniedList
            ? this.$options.i18n.denySecondTableHeader
            : this.$options.i18n.allowSecondTableHeader,
          thAttr: { 'data-testid': 'exception-th' },
          thClass: '!gl-pl-0',
          tdClass: '!gl-pl-0 !gl-border-none !gl-align-middle',
        },
        {
          key: 'actions',
          label: '',
          columnClass: 'gl-w-4/20',
          thAttr: { 'data-testid': 'actions-th' },
          thClass: '!gl-pl-0',
          tdClass: '!gl-pl-0 !gl-border-none gl-text-right !gl-align-middle',
        },
      ];
    },
  },
  methods: {
    addLicense() {
      this.items = [...this.items, createLicenseObject()];
    },
    showModalWindow() {
      this.$refs.modal.show();
    },
    hideModalWindow() {
      this.$refs.modal.hide();
    },
    selectExceptionType(value, item) {
      const index = this.items.findIndex(({ id }) => id === item.id);
      this.items.splice(index, 1, { ...item, exceptionsType: value });
    },
    selectLicense(license, item) {
      const index = this.items.findIndex(({ id }) => id === item.id);
      this.items.splice(index, 1, { ...item, license });
    },
    removeItem(id) {
      this.items = this.items.filter((item) => item.id !== id);
    },
  },
};
</script>

<template>
  <gl-modal
    ref="modal"
    :action-cancel="$options.ACTION_CANCEL"
    :action-primary="primaryAction"
    :title="modalTitle"
    scrollable
    content-class="security-policies-license-modal-min-height"
    modal-id="deny-allow-list-modal"
  >
    <p>{{ modalDescription }}</p>

    <gl-table-lite :fields="tableFields" :items="items" table-class="gl-border-b" stacked="md">
      <template #cell(licenses)="{ item = {} }">
        <deny-allow-licenses :selected="item.license" @select="selectLicense($event, item)" />
      </template>
      <template #cell(exceptions)="{ item = {} }">
        <deny-allow-list-exceptions
          :exception-type="item.exceptionsType"
          :exceptions="item.exceptions"
          @select-exception-type="selectExceptionType($event, item)"
        />
      </template>
      <template #cell(actions)="{ item = {} }">
        <div>
          <gl-button
            icon="remove"
            category="tertiary"
            :aria-label="__('Remove')"
            data-testid="remove-rule"
            @click="removeItem(item.id)"
          />
        </div>
      </template>
    </gl-table-lite>

    <gl-button
      data-testid="add-license"
      class="gl-mt-4"
      category="secondary"
      variant="confirm"
      size="small"
      @click="addLicense"
    >
      {{ $options.i18n.addLicenseButton }}
    </gl-button>
  </gl-modal>
</template>
